# ------------------------------------------------------------------
# Extra index for PyTorch CUDA 12.1 wheels
--extra-index-url https://download.pytorch.org/whl/cu121
#

# ------------------------------------------------------------------
# Core libraries
PyYAML
alembic
annotated-types
anyio
asyncio
certifi
cffi
click
cryptography
exceptiongroup
fastapi
greenlet
h11
httpcore
httpx
idna
iniconfig
jinja2
mypy
mypy-extensions
numpy

packaging
pdfplumber~=0.11.6
pluggy
pycparser
PyMySQL
pytest>=7.0.0
python-dotenv
python-multipart
requests
sniffio
SQLAlchemy
sse_starlette
starlette
sympy
tenacity
together
typing
typing_extensions
validators~=0.34.0
websockets
redis

# ------------------------------------------------------------------
# Platform-specific tools
pywin32==310 ; sys_platform == "win32"

# ------------------------------------------------------------------
# These have been removed because we no longer use third party clients
# Inference providers
# azure-core
# azure-ai-inference
# google-generativeai
# groq
# openai
# ------------------------------------------------------------------
# Samba

pysmb

# ------------------------------------------------------------------
# Security
bcrypt==4.0.1
passlib==1.7.4

