annotated-types
anyio
certifi
cffi
click==8.1.7
cryptography
exceptiongroup
fastapi~=0.103.0
greenlet
h11
httpcore
httpx==0.27.0
idna
iniconfig
mypy==1.11.1
mypy-extensions==1.0.0
packaging
pluggy
pycparser
pydantic~=2.10.6
pydantic_core
PyMySQL
pytest
python-dotenv==1.0.1
sniffio
SQLAlchemy~=2.0.30
starlette
tomli
typing_extensions
uvicorn
ollama~=0.3.1
typing~=3.7.4.3
requests~=2.32.3
httpx
sympy
numpy
alembic~=1.13.2
setuptools~=75.1.0
groq~=0.15.0
openai~=1.60.1
azure-ai-inference
transformers~=4.48.2
Together~=1.4.0
transformers
jinja2
validators~=0.34.0
tenacity>=8.2.3
qdrant-client>=1.6.4
pdfplumber>=0.10.3
sentence-transformers>=2.2.2
uvicorn[standard]
asyncio~=3.4.3
azure-core~=1.32.0
torch~=2.6.0
redis~=5.2.1
websockets~=15.0.1