annotated-types
anyio
certifi
cffi
click==8.1.7
cryptography
exceptiongroup
fastapi
greenlet
h11
httpcore
httpx==0.27.0
idna
iniconfig
mypy==1.11.1
mypy-extensions==1.0.0
packaging
pluggy
pycparser
pydantic
pydantic_core
PyMySQL
pytest
python-dotenv==1.0.1
sniffio
SQLAlchemy
starlette
tomli
typing_extensions
uvicorn
ollama
typing
requests
httpx
