receivers:
  otlp:
    protocols:
      grpc:
        endpoint: "0.0.0.0:4317" # Explicitly bind to all interfaces
      http:
        endpoint: "0.0.0.0:4318"

processors:
  batch:

exporters:
  debug:
    verbosity: detailed

  # Exporting to Jaeger using OTLP protocol (Jaeger All-In-One supports this)
  otlp/jaeger:
    endpoint: jaeger:4317
    tls:
      insecure: true

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [debug, otlp/jaeger]