fastapi
uvicorn[standard]
websockets
python-multipart
python-dotenv
aiofiles
python-socketio[asyncio]
redis
httpx
pydantic
pandas
matplotlib
openpyxl
python-docx
seaborn
scikit-learn
# Internal packages
projectdavid
projectdavid_common==0.10.7