--index-url https://pypi.org/simple/
--extra-index-url https://test.pypi.org/simple/
--prefer-binary

# Core sandbox packages
fastapi
uvicorn[standard]
websockets
python-multipart
python-dotenv
aiofiles
python-socketio[asyncio]
redis
httpx
pydantic
pandas
matplotlib
openpyxl
python-docx
seaborn
scikit-learn

projectdavid>=1.0.25
projectdavid-common
